<?xml version="1.0" encoding="UTF-8"?>
<thing:thing-descriptions bindingId="risco"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:thing="https://openhab.org/schemas/thing-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/thing-description/v1.0.0 https://openhab.org/schemas/thing-description-1.0.0.xsd">

	<thing-type id="system">
		<supported-bridge-type-refs>
			<bridge-type-ref id="bridge"/>
		</supported-bridge-type-refs>

		<label>Risco Panel</label>
		<description>Represents the Risco Alarm System</description>

		<channels>
			<channel id="name" typeId="readonly-text">
				<label>Name</label>
				<description>Name</description>
			</channel>

			<channel id="low-battery-trouble" typeId="low-battery-readonly-switch">
				<label>Low Battery Trouble</label>
				<description>Low Battery or Battery Ok</description>
			</channel>
			<channel id="ac-trouble" typeId="readonly-switch">
				<label>AC Trouble</label>
				<description>AC Unplugged or AC Plugged</description>
			</channel>
			<channel id="phone-line-trouble" typeId="readonly-switch">
				<label>Phone Line Trouble</label>
				<description>Phone Line Trouble or Phone Line Ok</description>
			</channel>
			<channel id="clock-trouble" typeId="readonly-switch">
				<label>Clock Trouble</label>
				<description>Clock Trouble or Clock Ok</description>
			</channel>
			<channel id="default-switch" typeId="readonly-switch-advanced">
				<label>Default Switch</label>
				<description>Default Switch On or Default Switch Off</description>
			</channel>
			<channel id="ms-1-report-trouble" typeId="readonly-switch-advanced">
				<label>MS 1 Report Trouble</label>
				<description>MS 1 Report Trouble or MS 1 Report Ok</description>
			</channel>
			<channel id="ms-2-report-trouble" typeId="readonly-switch-advanced">
				<label>MS 2 Report Trouble</label>
				<description>MS 2 Report Trouble or MS 2 Report Ok</description>
			</channel>
			<channel id="ms-3-report-trouble" typeId="readonly-switch-advanced">
				<label>MS 3 Report Trouble</label>
				<description>MS 3 Report Trouble or MS 3 Report Ok</description>
			</channel>
			<channel id="box-tamper" typeId="readonly-switch">
				<label>Box Tamper</label>
				<description>Box Tamper Open or Box Tamper Closed</description>
			</channel>
			<channel id="jamming-trouble" typeId="readonly-switch-advanced">
				<label>Jamming Trouble</label>
				<description>Jamming Trouble or Jamming Ok</description>
			</channel>
			<channel id="prog-mode" typeId="readonly-switch-advanced">
				<label>Prog Mode</label>
				<description>Prog Mode On or Prog Mode Off</description>
			</channel>
			<channel id="learn-mode" typeId="readonly-switch-advanced">
				<label>Learn Mode</label>
				<description>Learn Mode On or Learn Mode Off</description>
			</channel>
			<channel id="three-min-bypass" typeId="readonly-switch-advanced">
				<label>Three Min Bypass</label>
				<description>Three Min Bypass On or Three Min Bypass Off</description>
			</channel>
			<channel id="walk-test" typeId="readonly-switch-advanced">
				<label>Walk Test</label>
				<description>Walk Test On or Walk Test Off</description>
			</channel>
			<channel id="aux-trouble" typeId="readonly-switch-advanced">
				<label>AUX Trouble</label>
				<description>Aux Trouble or Aux Ok</description>
			</channel>
			<channel id="rs485-bus-trouble" typeId="readonly-switch-advanced">
				<label>RS485 Bus Trouble</label>
				<description>RS485 Bus Trouble or RS485 Bus Ok</description>
			</channel>
			<channel id="ls-switch" typeId="readonly-switch-advanced">
				<label>Ls Switch</label>
				<description>Ls Switch On or Ls Switch Off</description>
			</channel>
			<channel id="bell-switch" typeId="readonly-switch-advanced">
				<label>Bell Switch</label>
				<description>Bell Switch On or Bell Switch Off</description>
			</channel>
			<channel id="bell-trouble" typeId="readonly-switch-advanced">
				<label>Bell Trouble</label>
				<description>Bell Trouble or Bell Ok</description>
			</channel>
			<channel id="bell-tamper" typeId="readonly-switch">
				<label>Bell Tamper</label>
				<description>Bell Tamper or Bell Tamper Ok</description>
			</channel>
			<channel id="service-expired" typeId="readonly-switch-advanced">
				<label>Service Expired</label>
				<description>Service Expired or Service Ok</description>
			</channel>
			<channel id="payment-expired" typeId="readonly-switch-advanced">
				<label>Payment Expired</label>
				<description>Payment Expired or Payment Ok</description>
			</channel>
			<channel id="service-mode" typeId="readonly-switch-advanced">
				<label>Service Mode</label>
				<description>Service Mode On or Service Mode Off</description>
			</channel>
			<channel id="dual-path" typeId="readonly-switch-advanced">
				<label>Dual Path</label>
				<description>Dual Path On or Dual Path Off</description>
			</channel>
		</channels>
	</thing-type>

</thing:thing-descriptions>
